.my-left
{
background-color:#5bc0de;
}
<div class="col-lg-4 my-left">
</div>

.my-right
{
background-color: #5cb85c;
}
<div class="col-md-8 my-right">
</div>

.alignleft{
	float:left;
}
.alignright{
float: right;
}
